ipykernel
ipympl
ipywidgets
jupyterlab>=3.0.0,<4.0.0a0
jupyterlab-lsp
python-lsp-server
jupyterlab-git
screeninfo
box2d
numpy~=1.23
pandas
tqdm
wandb
seaborn
matplotlib
torch
tensorboard
envkernel
control
scikit-learn
swig
pygame
stable-baselines3==1.2.0
gym==0.23.1
gymnasium==0.26.3
jupyterlab-tensorboard-pro
PyQt5
easydict
ruamel.yaml
-e ./tabular_examples